@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    border: none;
    font-family: 'Varela Round', sans-serif;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: #d3d3d3;
}

.login__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.login__header img {
    width: 15%;
}

.login__header h1 {
    font-size: 2.5em;
    background: linear-gradient(270deg, #ff0000, #ff9400, #f9ff00, #2fff00, #00aeff, #a300ff, #ff00b2);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: gradienttext 8s ease infinite;
    -moz-animation: gradienttext 8s ease infinite;
    -o-animation: gradienttext 8s ease infinite;
    animation: gradienttext 8s ease infinite;
    
}
@-webkit-keyframes gradienttext {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
    
@-moz-keyframes gradienttext {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes gradienttext {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradienttext {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.login__input {
    border: 2px solid #333;
    border-radius: 8px;
    padding: 7px;
    font-size: 1em;
    max-width: 300px;
    width: 100%;
    outline: none;
}

.login__button {
    background: linear-gradient(270deg, #ff0000, #ff9400, #f9ff00, #2fff00, #00aeff, #a300ff, #ff00b2);;
    -webkit-animation: gradienttext 8s ease infinite;
    -moz-animation: gradienttext 8s ease infinite;
    -o-animation: gradienttext 8s ease infinite;
    animation: gradienttext 8s ease infinite;
    background-size: 300%;
    color: white;
    font-size: 2em;
    margin: 15px;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 3px;
    max-width: 100px;
    width: 100%;
}

.login__button:disabled {
    filter: saturate(20%)
}